<%- include('./_layouts/header') %>
<link rel="stylesheet" href="/css/product_detail.css">
<div class="product-detail-container">
    <div class="product-detail-card">    
        <div class="img-container">
            <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="<%= p.title%>">
        </div>
        <div class="content">
            <p class="product-name"><%= p.title%></p>
            <p class="product-desc">$<%= parseFloat(p.price).toFixed(2) %></p>
            <p class="product-desc"><%= p.desc %></p>
            <% if (loggedIn) { %>
            <p class="product-desc"><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
            <% } else {%>
            <p>You must be logged in to purchase items.</p>
            <% } %>
        </div>
    </div>
    <div class="review">
        <h2 class="review-title">Bình luận</h2>
        <div class="comment">
            <div class="comment-content">
                <div class="comment-detail">
                    <div class="comment-detail-left" style="background-image: url('/img/giabao.jpg');"></div>
                    <div class="comment-detail-right">
                        <p class="user-name">Username</p>
                        <p class="comment-date">1/1/2021</p>
                    </div>
                </div>
                <div class="comment-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet convallis sem sit amet feugiat. Duis enim magna, pretium eget blandit sit amet, auctor in enim. Cras tincidunt rhoncus lectus, vitae interdum nibh vulputate sit amet. Morbi tincidunt non sapien eget molestie. Pellentesque tincidunt magna nec sodales sodales. Vivamus nec.
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="comment-content">
                <div class="comment-detail">
                    <div class="comment-detail-left" style="background-image: url('/img/toan.jpg');"></div>
                    <div class="comment-detail-right">
                        <p class="user-name">Username</p>
                        <p class="comment-date">1/1/2021</p>
                    </div>
                </div>
                <div class="comment-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet convallis sem sit amet feugiat. Duis enim magna, pretium eget blandit sit amet, auctor in enim. Cras tincidunt rhoncus lectus, vitae interdum nibh vulputate sit amet. Morbi tincidunt non sapien eget molestie. Pellentesque tincidunt magna nec sodales sodales. Vivamus nec.
                </div>
            </div>
        </div>

        
        <% commentss.forEach(function(com){ %>
            <div class="comment-content">
                <div class="comment-detail">
                    <div class="comment-detail-left" style="background-image: url('<%= com.userImage %>');"></div>
                    <div class="comment-detail-right">
                        <p class="user-name"><%= com.userName %></p>
                        <p class="comment-date"><%= com.createAt %></p>
                    </div>
                </div>
                <div class="comment-desc">
                    <%= com.content %>
                </div>
            </div>
        <% }); %>
        <div class="add-comment-form">
            <form action="/products/<%= p.category %>/<%= p.slug %>/comment" method="post">
                <textarea class="comment-form" name="comment" placeholder="Write comment..."></textarea>
                <input type="text" name="productid" value="<%= p._id %>" hidden>
                <input type="text" name="productslug" value="<%= p.slug %>" hidden>
                <input type="text" name="productcate" value="<%= p.category %>" hidden>
                <input class="comment-submit-btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<%- include('./_layouts/footer') %>