<%- include('../_layouts/adminheader_test') %>


    <h2 class="page-title d-flex flex-column ">
        Category
        Management Area
    </h2>
    <hr class="hline">


    <!-- <div class="d-flex flex-column align-items-center"> <button class="btn" href="/admin/income"><i
                    class="fa fa-dashboard"></i><span>Tổng quan</span></button> <button class="btn mt-3"><i
                    class="fa fa-users"></i><span>Thông tin cá nhân</span></button> </div> -->
    <div class="center">
        <% if (count> 0) { %>
            <table class="table table-striped alignmiddle">
                <thead>
                    <tr class="home">
                        <th>Serial</th>
                        <th>Title</th>
                        <th>Category ID</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(function(category){ %>
                        <tr>
                            <td>
                                <%= category_count++ %>
                            </td>
                            <td>
                                <%= category.title %>
                            </td>
                            <td>
                                <%= category._id %>
                            </td>
                            <td><a href="/admin/categories/edit-category/<%= category._id %>">Edit</a></td>
                            <td><a class="confirmDeletion"
                                    href="/admin/categories/delete-category/<%= category._id %>">Delete</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>

            <% } else {%>
                <h3 class="text-center">There are no products.</h3>
                <% }%>


                    <a href="/admin/categories//add-category" class="btn2 btn-primary btn-lg ">
                        Add a new category
                    </a>


                    <%- include('../_layouts/adminfooter') %>