<%- include('../_layouts/adminheader') %>

    <h2 class="page-title d-flex flex-column ">
        Customer
        Management Area
    </h2>

    <hr class="hline">
    <a href="/admin/customer/add-customer" class="btn2 btn-primary btn-lg">Add a new
        customer</a>
    <br><br>

    <% if (count> 0) { %>
        <table class="table table-striped alignmiddle">
            <thead>
                <tr class="home">
                    <th>Serial</th>
                    <th>Name</th>
                    <th>Userame</th>
                    <th>Role</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% customers.forEach(function(customer){ %>
                    <tr>
                        <td>
                            <%= customer_count++ %>
                        </td>
                        <td>
                            <%= customer.name %>
                        </td>
                        <td>
                            <%= customer.username %>
                        </td>
                        <td>
                            <%= customer.role %>
                        </td>
                        <!-- <td><a href="/admin/customer/edit-customer/<%= customer._id %>">Edit</a></td> -->
                        <td><a class="confirmDeletion"
                                href="/admin/customer/delete-customer/<%= customer._id %>">Delete</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else {%>
            <h3 class="text-center">There are no customer.</h3>
            <% }%>

                <%- include('../_layouts/adminfooter') %>