<%- include('../_layouts/adminheader') %>


    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <h1 class="h2 mb-0 ls-tight">Welcome back, Admin!</h1>
                    </div>                    
                </div>
                <div class="row align-items-center">
                    <% if (error) { %>
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <div style="color: red;"><%= error %></div>
                        </div>
                    <% } %>
                </div>
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item "> <a href="#" class="nav-link active">General</a> </li>

                </ul>
            </div>
        </div>
    </header>

    <div class="info-card-container">


        <div class="info-card">
            <div class="card shadow border-0">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="row" style="height: 40px;">
                        <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">New
                                customers</span>

                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                <i class="bi bi-people"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm d-flex flex-column">
                        <span class="h3 font-bold mb-0">40</span>
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>15%
                        </span>
                        <span class="text-xs text-muted">Since last month</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="card shadow border-0">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="row" style="height: 40px;">
                        <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">New
                                products</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                <i class="bi bi-people"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm d-flex flex-column">
                        <span class="h3 font-bold mb-0">10</span>
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>10%
                        </span>
                        <span class="text-xs text-muted">Since last month</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-card">
            <div class="card shadow border-0">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="row" style="height: 40px;">
                        <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">New
                                employees</span> </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                                <i class="bi bi-minecart-loaded"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm d-flex flex-column">
                        <span class="h3 font-bold mb-0">10</span> <span
                            class="badge badge-pill bg-soft-success text-success me-2"> <i
                                class="bi bi-arrow-up me-1"></i>20% </span> <span class="text-xs text-muted">Since
                            last month</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="card shadow border-0">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="row" style="height: 40px;">
                        <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Budget</span>

                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                <i class="bi bi-credit-card"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 text-sm d-flex flex-column">
                        <span class="h3 font-bold mb-0">
                            <%= total %> VND
                        </span> <span class="badge badge-pill bg-soft-success text-success me-2"> <i
                                class="bi bi-arrow-up me-1"></i>13% </span> <span class="text-xs text-muted">Since
                            last month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% var incomemonthly=monthlyIncome; %>
        <div class="d-flex justify-content-center mt-5 gap-2 p-3">


            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </script>
            <script type="text/javascript">
                var income = [<%= incomemonthly %>];
                window.onload = function () {
                    var chart = new CanvasJS.Chart("chartContainer", {
                        title: {
                            text: "Yearly income"
                        },
                        data: [
                            {
                                theme: "light",
                                type: "line",
                                dataPoints: [
                                    { label: "Jan", y: income[0] },
                                    { label: "Feb", y: income[1] },
                                    { label: "Mar", y: income[2] },
                                    { label: "Apr", y: income[3] },
                                    { label: "May", y: income[4] },
                                    { label: "Jun", y: income[5] },
                                    { label: "Jul", y: income[6] },
                                    { label: "Aug", y: income[7] },
                                    { label: "Sep", y: income[8] },
                                    { label: "Oct", y: income[9] },
                                    { label: "Nov", y: income[10] },
                                    { label: "Dec", y: income[11] }
                                ],
                            }
                        ],
                        axisY: {
                            prefix: "VNĐ ",
                            suffix: "K"
                        }

                    });
                    chart.render();
                }
                console.log(income);
            </script>

            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>




        <%- include('../_layouts/adminfooter') %>