<%- include('../_layouts/adminheader_test') %>

    <h2 class="page-title d-flex flex-column align-items-center" style="margin-top: 20px; margin-left: 50px;">
        Product
        Management Area
    </h2>
    <hr class="hline" style="margin-left: 410px; width: 100%; margin-bottom: 0px;">
    <a href="/admin/products/add-product" class="btn3 btn-primary btn-lg"
        style="margin-left: 450px;margin-top: 300px;">Add a new
        product</a>
    <br><br>

    <% if (count> 0) { %>
        <table class="table table-striped alignmiddle" style="margin-left: 450px;">
            <thead>
                <tr class="home">
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Product Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(product, i){ %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= product.title %>
                        </td>
                        <td>$<%= parseFloat(product.price).toFixed(2) %>
                        </td>
                        <td>
                            <%= product.category %>
                        </td>
                        <td>

                            <% if (product.image=="" ) { %>
                                <img id="noimage" src="/images/noimage.png" style="object-fit:contain;
                                            width:200px;
                                            height:200px;
                                            border: solid 1px #CCC">
                                <% } else {%>
                                    <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>"
                                        style="object-fit:contain;
                                            width:200px;
                                            height:200px;
                                            border: solid 1px #CCC">
                                    <% }%>
                        </td>
                        <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
                        <td><a class="confirmDeletion"
                                href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else {%>
            <h3 class="text-center">There are no products.</h3>
            <% }%>

                <%- include('../_layouts/adminfooter') %>